<div class="body">
    <section class="section">
    <h1 class="underline">🎉 Willkommen beim Inselfest 🎉</h1>

        <div class="artist-grid">
            <div class="artist-card">
                <div class="artist-content">

                
                    <p>Du bist eingeladen auf das beste aller Feste, auf der Gästeliste* eingetragen. </p>
                    <br>
                    <small>(*Es handelt sich um eine
                        private Veranstaltung... von Freund:innen für Freund:innen.)</small>
                    <br>
                    <p>Die Insel lädt zum Feiern ein. Frei nach dem Motto „Machen wir selber“ hat sich eine kleine
                        Gruppe
                        von
                        Inselaffen zusammengefunden, um ein eigenes, kleines Festival auf die Beine zu stellen.
                    </p>
                </div>

            </div>

            <div class="artist-card">

                <div class="artist-content">
                    <h1 class="underline">Support & Helfer:innen gesucht</h1>
                    <p>Das Inselfest ist ein Gemeinschaftsprojekt, und wir sind noch auf der Suche nach helfenden
                        Händen. Ob
                        beim
                        Aufbau, Abbau oder während des Festivals. Jede helfende Hand ist willkommen und trägt dazu bei,
                        das
                        Festival
                        großartig zu gestalten.</p>
                    <p>An den folgenden Tagen wollen wir auf der Insel anpacken, um das ein oder andere vorzubereiten
                        und
                        aufzubauen. Sei gern dabei: 5./6.4, 29./30./31.5, 19./21.6 und 26.-31.7.</p>
                </div>


            </div>
        </div>

    </section>

    <section class="section">
        <video class="last" muted loop max-width="1280" height="auto" controls>
            <source src="assets\drone.MP4" type="video/mp4">
            Dein Browser unterstützt das Video-Tag nicht.
        </video>
    </section>
</div>