<h1>🚂 Anreise 🚂</h1>

<section id="anreise" class="lineupsection">
    <div class="artist-grid">

        <div class="artist-card">
            <div class="artist-image">
                <img src="assets/anreise.jpeg" alt="Anreise" />
            </div>
            <div class="artist-content">
                <h3>Anreise mit dem Zug</h3>
                <p>
                    Kattenvenne hat einen Bahnhof...und so fühlen wir uns auf der Insel doch an die Zivilisation
                    angeschlossen.
                </p>
                <p>
                    Zwischen Osnabrück und Münster fahren der RB 66 und die RE2 (checkt vorher aus ob der Zug in
                    Kattenvenne hält ;)
                </p>
                <p><strong>Wegbeschreibung vom Bahnhof Kattenvenne:</strong></p>
                <p>
                    Vom Kattenvenner Bahnhof folgt ihr der Straße "Zur Wassermühle" Richtung Norden. Die Straße wird zu
                    einem Feldweg, überquärt einen kleinen Bach und schließlich begegnet euch die kleine alte
                    Wassermühle auf der linken Seite auf halber Strecke. Ihr folgt dem Königsesch, bis ihr rechts in
                    einen Weg einbiegt. Am Ende dieses Weges biegt rechts eine Einfahrt zwischen den Bäumen ein. Ihr
                    habt die Insel erreicht und wahrscheinlich die schönste From der Anreise gewählt die der Königsesch
                    zu bieten hat.
                </p>

            </div>
        </div>
    </div>
</section>
