<h1>🍳 Food & Drinks 🍹</h1>

<section id="pfannenwende" class="lineupsection">
    <div class="artist-grid">

        <div class="artist-card">
            <div class="artist-image">
                <img src="/assets/Pfannenwende.jpeg" alt="Pfannenwende" />
            </div>
            <div class="artist-content">
                <h3>Team Pfannenwende</h3>
                <p><strong>Freitags und Samstag von 18.00-„bis alle satt sind“ (also wahrscheinlich 21.00 Uhr)</strong>
                </p>
                <p>
                    Auch Team Pfannenwende ist auf das beste aller Feste eingeladen, um euch dieses Wochenende mit
                    veganen Speisen zu verwöhnen.
                </p>
                <p>
                    <b>Freitag</b> gibt es Vöner Buffet.
                </p>
                <p> <b>Samstag</b> gibt es Pommes und (vegane) Hotdogs
                </p>
                <p>
                    Hinter Team Pfannenwende steckt die Idee, köstliches veganes essen für alle zu servieren. Das essen
                    geht raus gegen spende, also zahle was du kannst! Wer mitkochen und mitvorbereiten mag ist herzlich
                    dazu eingeladen Teil des Teams zu sein.
                </p>
            </div>
        </div>
    </div>



    <div class="artist-grid">

        <div class="artist-card">
            <div class="artist-image">
                <img src="/assets/pho.jpg" alt="Pho" />
            </div>
            <div class="artist-content">
                <h3>Bock auf Phó?</h3>
                <p><strong>Samstag von 12.00 - 14.00 Uhr</strong>
                </p>
                <p>
                    Hi ich bin Mattis und ich koche gerne Suppen - besonders Suppen die Aufwändig sind. Also falls du
                    einen Kater hast oder einfach mal eine selbst gemachte Veganer Phó schnabulieren willst komm gerne
                    vorbei und hol dir eine ab. Und wer weiß vielleicht kommt auch bald in der der Suppen Fan heraus und
                    du stehst zuhause Tagelang am Herd für die perfekte Suppe.

                </p>
                <p>
                    P.S.: mit dem Codewort: “GibmirdeinRezeptBrudi” bekommst du mein Rezept einfach so dazu.
                </p>

            </div>
        </div>

        <div class="artist-card">
            <div class="artist-image">
                <img src="" alt="Cocktail Bar" />
            </div>
            <div class="artist-content">
                <h3>Cocktail Bar</h3>
                <p><strong>geöffnet Freitag und Samstag Nachmittag bis Abend</strong></p>
                <p>
                    Erfrischende Cocktails in sommerlicher Atmosphäre – direkt am Festivalgelände. Ob fruchtig,
                    würzig
                    oder alkoholfrei - stoß mit uns an!
                </p>

                <p>Spendenempfehlung 4€ pro Cocktail (*außer den Alkoholfreien Ipanema – den gibt’s for free 😉)</p>
                <ul>
                    <li>Sex on the beach</li>
                    <li>Longisland Ice Tea</li>
                    <li>Cuba Libre</li>
                    <li>Ipanema</li>

                </ul>
                <p>Am Freitag begrüßen wir euch mit Sektcocktails:</p>
                <ul>
                    <li>French 75</li>
                    <li>Sekt Cocktail</li>
                </ul>
            </div>
        </div>

        <div class="artist-card">
            <div class="artist-image">
                <img src="" alt="Cocktail Bar" />
            </div>
            <div class="artist-content">
                <h3>Frühstücksbuffet</h3>

                <p>
                    Am Samstag und Sonntag bereiten wir ein Frühstücksbuffet vor, nicht besonderes…Brötchen und Müsli
                    solange der Vorrat reicht. Spendenemfehlung 3€
                </p>

                <p>Crepes, Eisrad und Kaffebar</p>
                <p>Alles für den süßen Zahn: </p>

                <ul>
                    <li> <strong>Samstag | 11-13 Uhr</strong></li>
                    <li>Crepestand (Freitag & Samstag)</li>
                    <li>Eisfahrrad Wurzel&Hörner (Samstag tagsüber)</li>
                    <li>Kaffebar (Freitag und Samstag Nachmittag)</li>
                    <li>„gemischte Tüten“ gibts im Tante Emma Laden</li>
                </ul>
            </div>
        </div>
    </div>

</section>