<h1>🍳 Food & Drinks 🍹</h1>

<section id="pfannenwende" class="lineupsection">
    <div class="artist-grid">

        <div class="spalten">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Pfannenwende.jpeg" alt="Pfannenwende" />
                </div>
                <div class="artist-content">
                    <h3>Team Pfannenwende</h3>
                    <p><strong>Freitags und Samstag von 18.00-„bis alle satt sind“ (also wahrscheinlich 21.00
                            Uhr)</strong>
                    </p>
                    <p>
                        Auch Team Pfannenwende ist auf das beste aller Feste eingeladen, um euch dieses Wochenende mit
                        veganen Speisen zu verwöhnen.
                    </p>
                    <p>
                        <b>Freitag</b> gibt es Vöner Buffet.
                    </p>
                    <p> <b>Samstag</b> gibt es Pommes und (vegane) Hotdogs
                    </p>
                    <p>
                        Hinter Team Pfannenwende steckt die Idee, köstliches veganes essen für alle zu servieren. Das
                        essen
                        geht raus gegen spende, also zahle was du kannst! Wer mitkochen und mitvorbereiten mag ist
                        herzlich
                        dazu eingeladen Teil des Teams zu sein.
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/icecream.jpg" alt="Frühstücksbuffet" />
                </div>
                <div class="artist-content">

                    <h3>Crepes, Eisrad und Kaffebar</h3>
                    <p>Alles für den süßen Zahn: </p>

                    <ul>
                        <li>Crepestand (Freitag & Samstag)</li>
                        <li>Eisfahrrad Wurzel&Hörner (Samstag tagsüber)</li>
                        <li>Kaffebar (Freitag und Samstag Nachmittag)</li>
                        <li>„gemischte Tüten“ gibts im Tante Emma Laden</li>
                    </ul>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/flaschengeist.jpg" alt="Flaschengeist" />
                </div>
                <div class="artist-content">
                    <h3>Bar - Flaschengeist</h3>
                    <p>
                        Unsere Bar „Flaschgeist“ macht seinem Namen alle Ehre und serviert euch gekühlte Erfrischungen
                        (meist*) aus den Flasche:

                    </p>

                    <table>
                        <caption><em>Keine fixen Preise, sondern
                                Spendenempfehlung (SE)</em></caption>

                        <tbody>
                            <tr>
                                <td>Veltins</td>
                                <td>0,33 l</td>
                                <td>SE 2,00 €</td>
                            </tr>
                            <tr>
                                <td>Veltins 0,0%</td>
                                <td>0,33 l</td>
                                <td>SE 2,00 €</td>
                            </tr>
                            <tr>
                                <td>Fritz Kola / Orange / Apfelschorle</td>
                                <td>0,33 l</td>
                                <td>SE 2,50 €</td>
                            </tr>
                            <tr>
                                <td>MioMate</td>
                                <td>0,5 l</td>
                                <td>SE 2,50 €</td>
                            </tr>
                            <tr>
                                <td>Sekko Soziale</td>
                                <td>Flasche / Sektglas</td>
                                <td>SE 15,00 € / SE 2,50 €</td>
                            </tr>
                            <tr>
                                <td>Sekko Soziale (alkoholfrei)</td>
                                <td>Flasche / Sektglas</td>
                                <td>SE 10,00 € / SE 2,00 €</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" style="text-align: center;"><em>*Sekt wird mit oder in Sektgläsern
                                        rausgegeben</em></td>
                            </tr>
                        </tfoot>
                    </table>

                    <p>
                        Keep in Mind : Die Getränke werden nicht zum Einkaufpreis rausgehen, weil wir mit dem Aufschlag
                        die
                        nötige Infrastruktur (Kühlung, Transport usw.) querfinanzieren. Also jeder Drink den ihr nehmt
                        finanziert uns den ganzen Spaß mit, in diesem Sinne „Prost“.
                    </p>

                </div>
            </div>
        </div>

        <div class="spalten">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/pho.jpg" alt="Pho" />
                </div>
                <div class="artist-content">
                    <h3>Bock auf Phó?</h3>
                    <p><strong>Samstag von 12.00 - 14.00 Uhr</strong>
                    </p>
                    <p>
                        Hi ich bin Mattis und ich koche gerne Suppen - besonders Suppen die Aufwändig sind. Also falls
                        du
                        einen Kater hast oder einfach mal eine selbst gemachte Veganer Phó schnabulieren willst komm
                        gerne
                        vorbei und hol dir eine ab. Und wer weiß vielleicht kommt auch bald in der der Suppen Fan heraus
                        und
                        du stehst zuhause Tagelang am Herd für die perfekte Suppe.

                    </p>
                    <p>
                        P.S.: mit dem Codewort: “GibmirdeinRezeptBrudi” bekommst du mein Rezept einfach so dazu.
                    </p>

                </div>
            </div>






            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/cocktailbar.jpg" alt="Cocktail Bar" />
                </div>
                <div class="artist-content">
                    <h3>Cocktail Bar</h3>
                    <p><strong>geöffnet Freitag und Samstag Nachmittag bis Abend</strong></p>
                    <p>
                        Erfrischende Cocktails in sommerlicher Atmosphäre – direkt am Festivalgelände. Ob fruchtig,
                        würzig
                        oder alkoholfrei - stoß mit uns an!
                    </p>

                    <p>Spendenempfehlung 4€ pro Cocktail (*außer den Alkoholfreien Ipanema – den gibt’s for free 😉)</p>
                    <ul>
                        <li>Sex on the beach</li>
                        <li>Longisland Ice Tea</li>
                        <li>Cuba Libre</li>
                        <li>Ipanema</li>

                    </ul>
                    <p>Am Freitag begrüßen wir euch mit Sektcocktails:</p>
                    <ul>
                        <li>French 75</li>
                        <li>Sekt Cocktail</li>
                    </ul>
                </div>
            </div>



            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/breakfast.jpg" alt="Frühstücksbuffet" />
                </div>
                <div class="artist-content">
                    <h3>Frühstücksbuffet</h3>

                    <p>
                        Am Samstag und Sonntag bereiten wir ein Frühstücksbuffet vor, nicht besonderes…Brötchen und
                        Müsli
                        solange der Vorrat reicht. Spendenemfehlung 3€
                    </p>
                </div>
            </div>
            
        </div>
    </div>





</section>