<h1>🎵 Festival Line-up 🎵</h1>

<section class="lineupsection">
  <div class="lineup-table">
    <h2>Freitag</h2>
    <table>
      <thead>
        <tr>
          <th>Künstler</th>
          <th>Uhrzeit / Dauer</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>David Adlers</td>
          <td>18:00 - 18:40 Uhr (ca. 40 Min)</td>
          <td>Singer-Songwriter</td>
        </tr>
        <tr>
          <td>Elektro Strotmann</td>
          <td>19:00 - 20:30 Uhr (ca. 90 Min)</td>
          <td>Punky / Hip Hop</td>
        </tr>
        <tr>
          <td>Marvin</td>
          <td>20:30 - 22:00 Uhr (ca. 90 Min)</td>
          <td>Dub</td>
        </tr>
        <tr>
          <td>Lisa & Lisa</td>
          <td>22:00 - 23:00 Uhr (ca. 60 Min)</td>
          <td>Party & Dance</td>
        </tr>
        <tr>
          <td>Ana</td>
          <td>23:00 - 24:00 Uhr (ca. 60 Min)</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Falko Schindler</td>
          <td>24:00 - 01:30 Uhr (ca. 90 Min)</td>
          <td>Techno Dance</td>
        </tr>
        <tr>
          <td>Alex (aus Berlin)</td>
          <td>01:30 - 04:00 Uhr (ca. 150 Min)</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="lineup-table">
    <h2>Samstag</h2>
    <table>
      <thead>
        <tr>
          <th>Künstler</th>
          <th>Uhrzeit / Auftritt</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Birdy</td>
          <td>15:00 (30 Min)</td>
          <td>Singer-Songwriter</td>
        </tr>
        <tr>
          <td>Phill Wood</td>
          <td>15:45 (30 Min)</td>
          <td>Singer-Songwriter</td>
        </tr>
        <tr>
          <td>Mayomann & Backfischboy</td>
          <td>16:30 (45 Min)</td>
          <td>Hip-Hop</td>
        </tr>
        <tr>
          <td>Gebrechen</td>
          <td>18:00 (45 Min)</td>
          <td>Punk</td>
        </tr>
        <tr>
          <td>Die Özedmirs</td>
          <td>19:00 (60 Min)</td>
          <td>Blues</td>
        </tr>
        <tr>
          <td>Phill Wood mit Band</td>
          <td>20:30 (60 Min)</td>
          <td>Dance / Groove</td>
        </tr>
        <tr>
          <td>Canapé</td>
          <td>22:00 (60 Min)</td>
          <td>Soul / Funk</td>
        </tr>
        <tr>
          <td>Chris Kalaitsidis</td>
          <td>~23:00–23:30 (90 Min)</td>
          <td>Funk House</td>
        </tr>
        <tr>
          <td>Billie (Drinnen-Floor)</td>
          <td>01:00 (120 Min)</td>
          <td>DJ Techno</td>
        </tr>
        <tr>
          <td>Spezial Guest</td>
          <td>03:00 – 05:00</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<h1>🎵 Artists 🎵</h1>

<section id="artists" class="lineupsection">
  <div class="artist-grid">

    <div class="spalten">
      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/David.jpg" alt="David Adlers" />
        </div>
        <div class="artist-content">
          <h3>David Adlers</h3>
          <p>
            Es ist schon ein paar Jahre her, dass David sich selbst als Musiker entworfen hat.
          </p>
          <p>
            Als das noch so war, so 2016/17, stand da dann sowas - und irgendwie passt das auch noch ganz gut:
            David hat sich erst relativ spät der Gitarre gewidmet - autodidaktisch und intuitiv. Davor hat er lange in
            Bands Schlagzeug gespielt.
          </p>
          <p>
            Zarter Gesang, Fingerpicking auf der Westerngitarre und Vintage Delays prägen die zerbrechlichen Songs.
            Einflüsse von Ben Howard oder Nick Drake sind hörbar.
          </p>
          <div class="artist-links">
            <a href="https://www.youtube.com/watch?v=ts-rpdFujfI&list=RDts-rpdFujfI&start_radio=1"
              target="_blank">YouTube</a>
          </div>

        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image artist-image2">
          <img src="assets/elektroStrotman2.jpg" alt="Elektro Strothmann" />
          <img src="assets/elektroStrotman1.jpg" alt="Elektro Strothmann" />
        </div>
        <div class="artist-content">
          <h3>Elektro Strothmann</h3>
          <p>Elektro Strothmann macht Laptop Punk mit Sprechgesang. Der Anti-Singer/Songwriter aus Osnabrück singt über
            die dreckigen Bürgersteige Europas und die Mülltonnen der deutschen Seele. Seine Musik: eine Melange aus
            Blues
            und Punk minus Gitarre plus kaputte Beats.</p>
          <div class="artist-links">
            <a href="https://www.instagram.com/elektrostroth/" target="_blank">Instagram</a>
            <a href="https://www.youtube.com/@elektrostrothmann9298" target="_blank">YouTube</a>
            <a href="https://www.facebook.com/elektrostrothmann/" target="_blank">Facebook</a>
            <a href="https://spoti.fi/3lgmWGi" target="_blank">Spotify</a>
          </div>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Marvin" />
        </div>
        <div class="artist-content">
          <h3>Marvin</h3>
          <p>Keine Beschreibung vorhanden.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/LisaLisa.jpeg" alt="Lisa & Lisa" />
        </div>
        <div class="artist-content">
          <h3>Lisa & Lisa</h3>
          <p>Lisa und Lisa wagen sich. Sie veröffentlichen ihr musikalisches Tagebuch und teilen es direkt mit euch auf
            dem Inselfest-dancefloor. In 15 Jahren Freundinnenschaft sind einige Hits zusammengekommen. Kommt mit auf
            die
            Reise durch eine wilde Genremusiklandschaft. Let's 'dance the pain away'!</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Ana" />
        </div>
        <div class="artist-content">
          <h3>Ana</h3>
          <p>Mischung aus Pop Musik und Drum and Bass.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/falko.jpg" alt="Falko Schindler" />
        </div>
        <div class="artist-content">
          <h3>FΛLKO</h3>
          <p>Falko steht für bunte, genreübergreifende Sets zwischen House, Funk, Disco und verspielten Remixes. Mal
            entspannt, mal mitreißend tanzbar – immer überraschend.</p>
          <div class="artist-links">
            <a href="" target="_blank">Mixcloud</a>
          </div>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/alex.jpg" alt="Alex Kohn" />
        </div>
        <div class="artist-content">
          <h3>Alex Kohn</h3>
          <p>Technoide Tanzmusik zwischen düster und verspielt. Ein treibender Groove mit einem Bass, der schiebt. Ideal
            zum eleganten Mitwippen oder frei tanzen durch die Nacht.</p>
          <div class="artist-links">
            <a href="https://soundcloud.com/alexkohn" target="_blank">SoundCloud</a>
          </div>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image artist-image2">
          <img src="assets/Birdy1.jpg" alt="Birdy" />
          <img src="assets/Birdy2.jpg" alt="Birdy" />
        </div>
        <div class="artist-content">
          <h3>Birdy</h3>
          <p>Mal fröhlich, mal melancholisch – Birdy’s Musik träumt von der Ferne und handelt von Menschen, Orten,
            Reisen
            und dem Neu-Anfangen.</p>
        </div>
      </div>

    </div>

    <div class="spalten">
      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Phill Wood" />
        </div>
        <div class="artist-content">
          <h3>Phill Wood</h3>
          <p>Keine Beschreibung vorhanden.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Mayomann & Backfischboy" />
        </div>
        <div class="artist-content">
          <h3>Mayomann & Backfischboy</h3>
          <p>Keine Beschreibung vorhanden.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Gebrechen" />
        </div>
        <div class="artist-content">
          <h3>Gebrechen</h3>
          <p>Queere Punkband aus Berlin. Texte sind selbstkritisch, gesellschaftskritisch und selbstironisch. Neben
            Gitarre, Bass und Schlagzeug sind auch Synthies und Melodica dabei.</p>
          <div class="artist-links">
            <a href="https://gebrechen.bandcamp.com/" target="_blank">Bandcamp</a>
          </div>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/Kenan Özdemir.png" alt="Die Özedmirs" />

        </div>
        <div class="artist-content">
          <h3>The Özedmirs</h3>
          <p>The Özdemirs aus Münster freuen sich, ihre Liebe zur Gitarrenmusik der 50er- und 60er-Jahre mit euch zu
            teilen.
            Knackige Rhythmen treffen auf scharfe Melodien, die zum Tanz einladen.</p>
          <p>Besetzung:</p>
          <p>Kenan Özdemir – Gitarre & Gesang</p>
          <p>Darryl Ciggaar – Schlagzeug & Gesang</p>
          <p>Erkan Özdemir – Bass</p>

          <div class="artist-links">
            <a href="https://linktr.ee/the_oezdemirs" target="_blank">Linktree</a>
          </div>
        </div>

      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Phill Wood mit Band" />
        </div>
        <div class="artist-content">
          <h3>Phill Wood mit Band</h3>
          <p>Keine Beschreibung vorhanden.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/canape.jpg" alt="Canapé" />
        </div>
        <div class="artist-content">
          <h3>Canapé</h3>
          <p>
            Canapé holen euch mit ihren samtig-souligen Vocals und pumpenden R&B Grooves ab und nehmen euch mit durch
            flimmernde Sommernächte. Die Band verbindet tighte Pop-Produktionen mit verspielt-verträumten Texten
            zwischen
            Weltschmerz, Feenstaub und Club-Romantik.
          </p>
          <p>
            Ihre Musik bewegt sich zwischen Neo-Soul, Funk, Indie-RnB und TripHop und erschafft einen Sound, der
            eigenständig und gleichzeitig vertraut klingt.
          </p>
          <div class="artist-links">
            <a href="https://open.spotify.com/intl-de/artist/4vPwZLm5HXytiKxS8z9OtF?si=NuX9lZmKS9W7oI7SyySqXQ"
              target="_blank">Spotify</a>
            <a href="https://www.instagram.com/canape_band/?hl=de" target="_blank">Instagram</a>
            <a href="https://youtu.be/1Zkf6DwqSD0?si=VZd6NvltlKfNj1iv" target="_blank">YouTube</a>
          </div>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="" alt="Chris Kalaitsidis" />
        </div>
        <div class="artist-content">
          <h3>Chris Kalaitsidis</h3>
          <p>Keine Beschreibung vorhanden.</p>
        </div>
      </div>

      <div class="artist-card">
        <div class="artist-image">
          <img src="assets/Billie.jpg" alt="Billie" />
        </div>
        <div class="artist-content">
          <h3>Billie (Drinnen Floor)</h3>
          <p><a href="https://m.soundcloud.com/billi-avwo/die-katze-auf-dem-heissen" target="_blank">Hörbeispiel auf
              SoundCloud</a></p>
        </div>
      </div>

      <!-- Weitere Cards hier -->
    </div>
  </div>

</section>
