<h1>🎪 Drumherum 🎪</h1>

<section id="drumherum" class="lineupsection">
    <div class="artist-grid">

        <div class="artist-flex">


            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Kleidertausch.jpeg" alt="Kleidertausch" />
                </div>
                <div class="artist-content">
                    <h3>Kleidertausch-Stange</h3>
                    <p>
                        Alte lieblingstücke im Schrank die ihr wirklich seit Jahren nicht mehr angezogen habt und
                        loswerden
                        wollt...? Der Altkleidersack wäre viel zu schade, denn diese Kleidungsstücke haben Geschichte
                        und
                        wollen die Frischluft an neuen Besitzern genießen. Dann packt sie gern ein bringt sie zur
                        Kleidertauschstange. Wer weiß vielleicht tanzen sie schon bald an einem neuen stolzen Besitzer
                        durch
                        die Nacht.
                    </p>
                    <p>
                        (Bitte nur gut erhaltene Kleidungsstücke mitbringen, sonst wird es nachher doch noch der
                        Altkleidersack)
                    </p>

                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/schminken.jpg" alt="Schminkstation" />
                </div>
                <div class="artist-content">
                    <h3>Schminktisch - Glitzergewitter</h3>
                    <p>
                        Raus aus dem Alltagsgrau...hier wird Farbe ins Gesicht gezaubert.
                        Egal ob gruselige Augenpartie, elder Feenstaub oder Rainbow Warrier Kriegsbemalung...alles ist
                        gewünscht und erlaubt um uns in befreite feierwütigen Fabelwesen zu verwandeln. Der kleine
                        Schminktisch steht euch das ganze Festival zur Verfügung.
                    </p>
                    <p>
                        Am Samstag unterstützt euch Bota zwischen 14.00 - 16.00 mit Fingerspitzengefühl, Pinsel und einem
                        stielsicheren Gespür für Extravaganz. Schaut gern vorbei :)
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/tanteemma.jpg" alt="Tante Emma Laden & Kleidertausch" />
                </div>
                <div class="artist-content">
                    <h3>Tante Emma Laden</h3>
                    <p>
                        Taback leer? Bock auf was Süßes? Oder eine andere Art von Gummis werden benötigt…? Dann schaut
                        im Tante Emma Ladens vorbei 😊
                        
                    </p>
                    <p>Angebot: Tabackwaren, Feuerzeuge, verspielte Kleinigkeiten, Süßwaren, Kondome…
                        (Wenn ihr noch Ideen für das Angebot des Tante Emma Ladens habt schreibt uns gern an
                        inselfest&#64;posteo.de dann schauen wir was wir noch möglich machen können.)</p>
                </div>
            </div>
        </div>


        <div class="artist-flex">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/visionmap.gif" alt="Vision Map" />
                </div>
                <div class="artist-content">
                    <h3>Vision Map</h3>
                    
                    <p>Sollten wir einen Überschuss mit dem Festival erwirtschaften…was soll davon finanziert werden?</p>
                    <p>Wer möchte demnächst dem monatlichen Isel-Frauen-Sauna Club beitreten?</p>
                    <p>Wollen wir demnächst ein Freiluftkino auf der Insel veranstalten?</p>
                    <p>Wer spielt mit beim selbst erfunden Spiel „Funny Facts“?</p>
                    <p>Sucht ihr noch jemanden für ein Bandprojekt, Buchclub oder andere Interessen?</p>
                    <p>Eure Meinung, Ideen und Gesuche interessieren uns…schaut beim Vision Board vorbei: „Es lebe das
                        Netzwerk und die Schwarmintelligenz!“</p>
          
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Wahrsagen.jpeg" alt="Wahrsager-Session" />
                </div>
                <div class="artist-content">
                    <h3>Wahrsager-Session: Ein Blick ins Morgen</h3>
                    <p><strong>Samstags solange der Rabe übers Festival streift</strong></p>
                    <p>
                        Im Tanz von Karten, Kristallen und Kaffeesatz offenbart sich dein Weg. Lausche dem Flüstern der
                        Zukunft, entdecke verborgene Pfade und ergründe, was das Schicksal für dich bereithält. Wage den
                        Blick – magisch, klar, voller Möglichkeiten.
                    </p>
                </div>
            </div>

        </div>



    </div>
</section>