<h1>🎪 Drumherum 🎪</h1>

<section id="drumherum" class="lineupsection">
    <div class="artist-grid">

        <div class="artist-flex">


            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Kleidertausch.jpeg" alt="Kleidertausch" />
                </div>
                <div class="artist-content">
                    <h3>Kleidertausch-Stange</h3>
                    <p>
                        Alte lieblingstücke im Schrank die ihr wirklich seit Jahren nicht mehr angezogen habt und
                        loswerden
                        wollt...? Der Altkleidersack wäre viel zu schade, denn diese Kleidungsstücke haben Geschichte
                        und
                        wollen die Frischluft an neuen Besitzern genießen. Dann packt sie gern ein bringt sie zur
                        Kleidertauschstange. Wer weiß vielleicht tanzen sie schon bald an einem neuen stolzen Besitzer
                        durch
                        die Nacht.
                    </p>
                    <p>
                        (Bitte nur gut erhaltene Kleidungsstücke mitbringen, sonst wird es nachher doch noch der
                        Altkleidersack)
                    </p>

                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/schminken.jpg" alt="Schminkstation" />
                </div>
                <div class="artist-content">
                    <h3>Schminktisch - Glitzergewitter</h3>
                    <p>
                        Raus aus dem Alltagsgrau...hier wird Farbe ins Gesicht gezaubert.
                        Egal ob gruselige Augenpartie, elder Feenstaub oder Rainbow Warrier Kriegsbemalung...alles ist
                        gewünscht und erlaubt um uns in befreite feierwütigen Fabelwesen zu verwandeln. Der kleine
                        Schminktisch steht euch das ganze Festival zur Verfügung.
                        </p>
                        <p>
                        Am Samstag unterstützt euch Bota zwischen 12.00- 14.00 mit Fingerspitzengefühl, Pinsel und einem
                        stielsicheren Gespür für Extravaganz. Schaut gern vorbei :)
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="" alt="Tante Emma Laden & Kleidertausch" />
                </div>
                <div class="artist-content">
                    <h3>Tante Emma Laden</h3>
                    <p>
                        Kleinigkeiten jeglicher Art.
                    </p>
                </div>
            </div>
        </div>


        <div class="artist-flex">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="" alt="Vision Map" />
                </div>
                <div class="artist-content">
                    <h3>Vision Map</h3>
                    <p>
                        Träume sichtbar machen! Gestalte deine persönliche Vision Map mit Worten, Bildern und Farben.
                        Ein
                        kreativer Ort für deine Zukunftsträume.
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Wahrsagen.jpeg" alt="Wahrsager-Session" />
                </div>
                <div class="artist-content">
                    <h3>Wahrsager-Session: Ein Blick ins Morgen</h3>
                    <p><strong>Samstags solange der Rabe übers Festival streift</strong></p>
                    <p>
                        Im Tanz von Karten, Kristallen und Kaffeesatz offenbart sich dein Weg. Lausche dem Flüstern der
                        Zukunft, entdecke verborgene Pfade und ergründe, was das Schicksal für dich bereithält. Wage den
                        Blick – magisch, klar, voller Möglichkeiten.
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/bogen.jpg" alt="Bogenschießen" />

                </div>
                <div class="artist-content">
                    <h3>Bogenschießen</h3>
                    <p>
                        Stärke deine Konzentration, spanne den Bogen – und triff mitten ins Schwarze! Eine ruhige,
                        kraftvolle Aktivität für Jung und Alt.
                    </p>
                </div>
            </div>

        </div>



    </div>
</section>
