<h1>🎫 Tickets 🎫</h1>


<section id="pfannenwende" class="lineupsection">
    <div class="artist-grid">

        <div class="artist-card">

            <div class="artist-content">
                <p>Um Teil des Inselfests zu werden, könnt ihr euch hier für ein Ticket anmelden. Je früher ihr euch für
                    ein Ticket
                    anmeldet, desto besser können wir planen. Jedes Ticket wird manuell von uns freigegeben.</p>

                <p>Der Eintrittspreis ist ein Soli-Preis (quasi eine Spendenempfehlung). Mit dem
                    angegebenen/vorgeschlagenen
                    Betrag können wir die entstehenden Kosten decken. Fühle dich ermutigt, den Ticketpreis deinem
                    persönlichen
                    Budget anzupassen.</p>

                <p>Bist du gerade sehr flüssig, kannst du mehr geben, um die Kostendeckung zu erleichtern. Bist du
                    gerade knapp
                    bei Kasse, gib gern einfach so viel, wie sich für dich gut anfühlt.</p>

                <p>Wir alle wissen, ein kapitalistisches System ist nicht fair, wenn es um Verteilung geht. Deshalb
                    lasst uns,
                    was die Finanzierung dieses Festivals angeht, uns gegenseitig tragen und gemeinsam eine gute Zeit
                    haben.
                    Niemand von uns wird an diesem Event verdienen, sollten wir Überschüsse erwirtschaften, werden diese
                    gespendet.</p>
        
            </div>
        </div>


        <div class="artist-card tickets">

            <div class="artist-content">
          
                <div class="items-center">
                    <a class="cta" rel="noopener noreferrer" target="_blank" href="https://tickets.insel-fest.de">
                        -- ZUM TICKETSYSTEM --
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>