.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a2c0b8;
  padding: 10px 20px;
  font-size: 30px;
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-info {
  padding-bottom: 150px;
  text-align: center;
}

.navbar img.logo {
  height: 600px;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  padding-right: 80px;
  cursor: pointer;
  //padding-bottom: 80px;
}

.nav-item {
  position: relative;
}

.nav-links a,
.dropdown a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-links a:hover,
.dropdown a:hover {
  background-color: #7d9891;
  border-radius: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #9cbfb5;
  min-width: 180px;
  z-index: 1;
  border-radius: 4px;
}

.nav-item:hover .dropdown {
  display: block;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
   
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 0;
  }

.navbar img.logo {
  height: 90vw;
}

  .nav-item {
    width: 100%;
  }

  .dropdown {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  .dropdown a {
    padding-left: 24px;
  }
}

@media(max-width: 1150px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .top-info{
    padding-bottom: 50px;
  }
  .nav-links{
    padding-right: 0px;
  }

}