
  <nav class="navbar">
  <!-- Linke Seite: Logo -->
  <div class="navbar-left">
    <a href="#"><img src="assets/Logo_durchsichtig" alt="Inselfest Logo" class="logo"></a>
  </div>

  <!-- Rechte Seite: Info oben, Links darunter -->
  <div class="navbar-right">
    <div class="top-info">
      <p>01.-03. August 2025<br>-<br>Bei Kattenvenne / Lengerich</p>
    </div>
    <div class="nav-links">
      <div class="nav-item"><a routerLink="/">News</a></div>

      <div class="nav-item">
        <a routerLink="/lineup">Line-Up</a>
        <div class="dropdown">
          <a routerLink="/musik">Musik</a>
          <a routerLink="/workshops">Workshops</a>
          <a routerLink="/drummherum">Drummherum</a>
        </div>
      </div>

      <div class="nav-item">
        <a routerLink="/info">Info</a>
        <div class="dropdown">
          <a routerLink="/anreise">Anreise</a>
          <a routerLink="/pfannenwende">Food & Drinks</a>
          <a >Zelten / Parken</a>
          <a routerLink="/lageplan">Lageplan</a>
        </div>
      </div>

      <div class="nav-item"><a routerLink="/tickets">Tickets</a></div>

      <div class="nav-item">
        <a routerLink="/inselfest">Inselfest</a>
        <div class="dropdown">
          <a >Mitmachen</a>
          <a >Mitbringen</a>
          <a >Vernetzen</a>
        </div>
      </div>
    </div>
  </div>
</nav>
