<!-- Passwort-Overlay -->
<div class="password-overlay" *ngIf="false">
  <div class="password-box">
    <h2>Einlass nur für echte Inselaffen</h2>
    <p>Bitte Festivalmotto eingeben:</p>
    <input type="password" [(ngModel)]="passwordInput" (keydown.enter)="checkPassword()" />
    <button (click)="checkPassword()">Einloggen</button>
    <p *ngIf="wrongPassword" class="error">Falsches Passwort</p>
  </div>
</div>

<ng-container *ngIf="true">
    <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</ng-container>




