<h1>👯‍♀️ Mitmachen 👯‍♀️</h1>

<section id="workshops" class="lineupsection">
    <div class="artist-grid">

        <div>
            <div class="artist-card">
                <div class="artist-image artist-image2">
                </div>
                <div class="artist-content">
                  
                    <p>
                      Hier der Link zum <a href="https://docs.google.com/spreadsheets/d/1hrdO6QWNnNiMa1kjbb3XZiDwdNwlBcOqtJw6wMYRQAM/edit?gid=0#gid=0">Schichtplan</a>. Tragt euch fleissig ein oder um, damit wir gemeinsam eine großarteige Zeit haben können. Die Schichtpläne werden auch auf dem Festivalgelände ausgehangen
                        werden.
                    </p>
                
                    <p>Das Festival wird von uns für uns gestaltet, daher sind wir darauf angewiesen es gemeinsam am
                        Laufen zu halten.</p>

                    <p>Wir werden für folgende Stationen <b>„helfende“ Hände</b> gebrauchen:</p>
                    <p><b>Bar - Flaschengeist</b> <br>
                        Aufgaben: Getränke rausgeben, Kühlschränke ausfüllen, Spenden einsammeln/wechseln
                    </p>
                    <p><b>Check In</b>  <br>
                        Aufgaben: QR-Code scannen, Bändchen rausgeben, Infos zum Gelände/Orga geben
                    </p>
                    <p><b>Tante Emma Laden</b> <br>
                        Alles auf dem Bestande gegen (fixe) Spendenempfehlungen rausgeben und im typischen Tante Emma
                        Modus eine nettes Pläuschen halten.
                    </p>

                    <p><b>Glanz & Gloria</b>  <br>
                        Ja… die ein oder anderen Flaschen müssten mal weggeräumt und die Mülltüten ausgetauscht werden.
                        Auch durch den Toilettenwagen sollte am Samstagmorgen durchgewischt werden. Sicher niemand mag
                        putzen, doch seien wir ehrlich in dieser Schicht befinden sich die wahren Heldenfiguren unter
                        uns. (Eine Schicht am Samstagmorgen, ansonsten gilt je mehr wir gemeinsam machen, desto weniger
                        anstrengend wird es für einzelne)
                    </p>
                </div>
            </div>

        </div>



    </div>
</section>