<h1>🛠️ Workshops 🛠️</h1>

<section id="workshops" class="lineupsection">
    <div class="artist-grid">

        <div>
            <div class="artist-card">
                <div class="artist-image artist-image2">
                    <!-- Optional: Bild hinzufügen -->
                    <img src="/assets/töpfern1.jpg" alt="Töpfer-Workshop" />
                    <img src="/assets/töpfern2.jpg" alt="Töpfer-Workshop" />
                </div>
                <div class="artist-content">
                    <h3>Töpfer-Workshop</h3>
                    <p><strong>Samstag, 11:30-14:30 Uhr</strong></p>
                    <p>
                        Wir, Dörte und Jana, töpfern seit Jahren und mit großer Freude und möchten uns mit euch die
                        Hände
                        schmutzig machen. Jeder kann mitmachen - keine Vorerfahrung nötig. Getöpfert werden können aus
                        der
                        Hand zum Beispiel kleine Schalen, Tassen, kleine Skulpturen und was immer ihr mit dem Ton
                        anstellen
                        mögt. Nach dem Festival glasieren wir eure Werke transparent, brennen sie in Dörtes Ofen und
                        bringen
                        sie wieder zur Insel. Vielleicht findet ein Nachtreffen statt, bei dem wir gemeinsam Waffeln
                        essen
                        und ihr eure Werke bekommt oder ihr holt die Werke einfach auf der Insel ab - dazu mehr, wenn
                        wir
                        einen Plan haben. Wir freuen uns auf euch und eure Kreativität!
                    </p>
                </div>
            </div>


            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Stammtischkämpferinnen.jpeg" alt="Stammtischkämpfer*innen-Seminar" />
                </div>
                <div class="artist-content">
                    <h3>Stammtischkämpfer*innen-Seminar</h3>
                    <p><strong>Samstag, Start: 11:00 oder 12:00 Uhr</strong></p>
                    <p>
                        Wir alle kennen das: In der Diskussion mit Arbeitskolleg*innen, dem
                        Gespräch mit der Tante oder beim Grillen mit dem Sportverein fallen
                        Sprüche, die uns die Sprache verschlagen. Später ärgern wir uns,
                        denken, da hätten wir gerne den Mund aufgemacht, widersprochen, die
                        rechten Parolen nicht einfach so stehen lassen.
                    </p>
                    <p>
                        Hier wollen wir ansetzen und Menschen in die Lage versetzen, die
                        Schrecksekunde zu überwinden, Position zu beziehen und deutlich zu
                        machen: Das nehmen wir nicht länger hin!
                    </p>
                    <p>
                        In den Stammtischkämpfer*innen-Seminaren werden Handlungsmöglichkeiten
                        aufgezeigt, die uns dabei unterstützen, den rechten und rassistischen
                        Parolen wie beispielsweise denen der AfD und ihrer Anhänger*innen
                        etwas entgegenzusetzen.
                    </p>
                    <p>Dabei ist klar: Der Stammtisch ist überall: An der Kasse des
                        Bio-Supermarktes, auf dem Spielplatz, in der Bahn oder in der
                        Uni-Lerngruppe. Aber: Wir sind auch überall und wir können durch
                        Widerspruch, deutliches Positionieren und engagierte Diskussionen ein
                        Zeichen setzen, die Stimmung in unserem Umfeld beeinflussen und
                        unentschlossenen Menschen ein Beispiel geben.
                    </p>

                    <p>
                        Die Teilnehmendenzahl ist auf 20 Personen begrenzt.
                    </p>

                    <p>Der Workshop ist nicht explizit auf die Bedürfnisse von von Rassismus
                        betroffenen Personen ausgerichtet und damit kein Empowerment-Workshop.
                        Alle sind willkommen und wir versuchen einen möglichst sicheren Raum
                        für alle Teilnehmenden zu schaffen.
                    </p>



                </div>
            </div>

        </div>

        <div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/Tantra.jpeg" alt="Tantra Beginners Workshop" />
                </div>
                <div class="artist-content">
                    <h3>Tantra Beginners Workshop</h3>
                    <p><strong>Samstag 12:00 Uhr - ca. 90 Minuten</strong></p>
                    <p>
                        Geht es im Tantra nur im Sex und Nacktheit? Die kurze Antwort ist Nein. In diesem 90 minütigen
                        Workshop werden wir uns ganz grundlegend der Frage widmen, was Tantra sein könnte und wie es den
                        Menschen hilft. Mit ganz einfachen Begegnungsübungen versuchen wir einen Geschmack davon zu
                        bekommen, wie Tantra eine Reise in dein eigenes Inneres sein kann und welche Geschenke dieser
                        Weg
                        mit sich bringt. In letzter Konsequenz ist Tantra Verbundensein. Mit dir selbst, mit dem Leben
                        in
                        seiner Ganzheit, mit dem Göttlichen. (Max. 18 Teilnehmer)
                    </p>
                </div>
            </div>

            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/siebdruck.jpg" alt="Siebdruck" />
                </div>
                <div class="artist-content">
                    <h3>👕🏝️🌞 DIY Siebdruck beim Inselfest – mit deiner Klamotte & unserer Farbe 🌞🏝️👕
                    </h3>
                    <p><strong>Samstag, 11:00-14:00 Uhr</strong></p>
                    <p>
                        Lust auf ein individuelles Andenken vom 🏝️Inselfest? Dann bring dein altes Lieblingsshirt👕,
                        den
                        abgewetzten Jutebeutel🛍️oder das durchgetanzte Tanktop mit und verpass ihm am Samstag zwischen
                        11
                        und 13 Uhr einen frischen 😎Insellook – per Siebdruck zum Selbermachen! 🎨
                    </p>
                    <p>Die Künstlerin und Grafikdesignerin Hannah begleitet euch bei der Aktion. Seit einer Residency in
                        einem Siebdruckstudio in Bulgarien letztes Jahr lässt sie das Thema nicht mehr los – davor und
                        daneben ist sie vor allem im Risographie-Druck unterwegs. Einen Einblick in ihre Arbeiten
                        findest du
                        unter hannahkolling.com oder auf Instagram: &#64;hannah.calling.</p>
                    <p>
                        Zur Auswahl steht das Inselfest-Logo in verschiedenen Größen - auf Rücken, Bauch oder Beutel,
                        Geschirrtuch - alles ist möglich.
                    </p>
                    <p>
                        Für die optimale Leuchtkraft des Neongrüns bringt am besten helle Textilien mit – Shirts,
                        Beutel,
                        Tops… und gern auch ein paar Extras zum Tauschen oder für andere Festgäste, falls ihr mehr habt.
                        Auf
                        dunklerem Material kommt der Druck eher zurückhaltend zur Geltung, aber auch das können wir
                        probieren (nur dass du das schonmal gehört hast)
                    </p>
                    <p>
                        <strong>💚 HARD FACTS 💚</strong>
                    </p>
                    <ul>
                        <li> <strong>Samstag | 11-13 Uhr</strong></li>
                        <li>🎨 DIY Siebdruck auf Spendenbasis 🧺</li>
                        <li>👕 Bitte eigene (möglichst) helle Textilien mitbringen</li>
                        <li>🏝️ Motiv: Inselfest-Schriftzug</li>
                        <li>🌞 Trocknet am besten in der Sonne direkt danach</li>
                        <li>💨 Oder durch dich mit dem Heißluftfön</li>
                    </ul>

                </div>
            </div>


            <div class="artist-card">
                <div class="artist-image">
                    <img src="/assets/bogen.jpg" alt="Bogenschießen" />

                </div>
                <div class="artist-content">
                    <h3>Bogenschießen</h3>
                    <p><strong>Samstag, 12:00-15:00 Uhr</strong></p>
                    <p>
                        Ollivie hat für euch Pfeil und Bogen eingepackt und lädt euch am Samstag Mittag ein eure Robin
                        Hood Fähigkeiten auf die Probe zu stellen. Egal, ob Anfänger oder erfahrener Schütze – es geht
                        ums ausprobieren und Spaß haben.
                        Alledings könnt ihr nur Mitmachen, wenn ihr (noch) nüchtern seid – wir bitten diesbezüglich um
                        euer Verständniss und Verantwortungsübernahme.
                    </p>
                </div>
            </div>

        </div>





    </div>
</section>