<h1>🧳 Mitbringen 🧳</h1>

<section id="workshops" class="lineupsection">
    <div class="artist-grid">

        <div>
            <div class="artist-card">
                <div class="artist-image artist-image2">
                </div>
                <div class="artist-content">
                    <h3>Mitbringen</h3>
                    <p>
                        Dies Insel ist weitestgehend erschlossen, doch ist es ein weiter Weg zum Festland…sprich, der
                        nächste kleine Supermarkt und Geldautomat ist einen Fußweg von ca. 35 Min. entfernt.
                    </p>
                    <p><strong>Folgende Dinge solltet ihr dabei haben um das Inselleben in vollen Zügen genießen zu können:</strong></p>

                    <p><b>Bargeld</b>: Alles wird auf Spendenbasis angeboten und wir haben keine Möglichkeit euch
                        Kartenzahlung oder PayPal anzubieten (das Internet ist auf der Insel auch nicht so gut).</p>
                    <p><b>Getränke, Snacks und Speisen</b>: schaut in unser Angebot rein und bringt euch euren
                            Lieblingskram mit den ihr zum glücklich sein braucht. Alle Speisen die wir anbieten sind
                            Vegan & Vegetarisch. (Leider können wir euch für mitgebrachte Speisen und Getränke keine
                            Kühlung anbieten)</p>
                    <p>Die Insel liegt zwischen Bäumen und Wiesen, Nachts grasen Rehe in unserem Garten und der
                            Eisvogel besucht unseren Teich regelmäßig. So Schön die Natur auch ist, so juckend kann sie
                            sein. Bringt euch <b>Zeckenschutz, Moskitoschutz und Sonnenmilch</b> mit.</p>
                    <p>Ansonsten packt <b>Campingkram, Lieblingsmenschen (Abendkasse wird es geben) und
                                Freizeit</b> ein.</p>
              
                    <p>*Der Tante Emma Laden bietet euch Tabackwaren, Feuerzeuge, Kondome, Süßigkeiten und alles weitere
                        an, das ihr vielleicht zwischendurch gebrauchen könnte. </p>
                </div>
            </div>

        </div>



    </div>
</section>